body {
    line-height: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron {
    background-color: rgb(15, 201, 201) !important;
    border-bottom: black 7px solid !important;
    text-align: center !important;
}

#topTitle {
    font-size: 45px !important;
}

#secondaryTitle {
    font-size: 20px !important;
    font-style: italic;
}

#dateToday {
    font-size: 30px !important;
    font-weight: bold !important;
}

.hour {
    font-weight: bold !important;
    padding-top: 10px;
    border-top: dashed 1px black;
    border-bottom: dashed 1px rgb(60, 241, 247);
}

.activities {
    border: 1px solid black;
}

.past {
    background-color: lightgray;
}

.present {
    background-color: rgb(255, 255, 138);
}

.future {
    background-color: teal;
}

.eachHourBlock {
    text-align: center;
    border-radius: 20px;
}

.saveBtn {
    width: 80px;
    /* height: 50px; */
    background-color: rgb(60, 241, 247)!important;
    border: 1px rgb(0, 0, 0) dashed !important;
    font-weight: bold !important;
}